<div class="page d-flex justify-content-center p-2">

  <div *ngIf="ticket$ | async as ticket" class="card form-card">
    <div class="card-body">
      <h5 class="card-title">Edit Ticket</h5>
      <form #ticketForm="ngForm">
        <div class="form-group">
          <label class="form-label">flightNumber</label>
          <input
            [(ngModel)]="ticket.flightNumber"
            [ngModelOptions]="{updateOn: 'blur'}"
            type="text"
            class="form-control"
            name="flightNumber"
            pattern="^[A-Za-z]{2}[0-9]{4}$"
            required>
          <div *ngIf="ticketForm.controls['flightNumber']?.invalid" class="error-message">
            It must consist two letters and four numbers.
          </div>
          </div>
        <div class="form-group">
          <label class="form-label">seat</label>
          <input
            [(ngModel)]="ticket.seat"
            type="text" class="form-control" name="seat"
            pattern="^[A-Za-z][0-9]$"
            required>
          <div *ngIf="ticketForm.controls['seat']?.invalid" class="error-message">
            It must consist a letters and a numbers.
          </div>
          </div>
        <div class="form-group">
          <label class="form-label">service</label>
          <select
            [(ngModel)]="ticket.service"
            class="form-select" name="service"
            required>
              <option value="">please select</option>
              <option value="tourist">tourist</option>
              <option value="business">business</option>
              <option value="economy">economy</option>
          </select>
          <div *ngIf="ticketForm.controls['service']?.invalid" class="error-message">
            Please select a valid option.
          </div>
        </div>
        <div class="form-check mt-3">
          <input
            [(ngModel)]="ticket.checked"
            name="checked"
            id="check"
            class="form-check-input"
            type="checkbox"
            checked>
          <label class="form-check-label" for="check">
            checked
          </label>
        </div>

        <div class="d-grid mt-3">
          <button [disabled]="ticketForm.invalid" class="btn btn-primary" type="submit">
            <i class="fa fa-save"></i>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
