<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular Routing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let item of items" class="nav-item">
          <ng-container
            *ngTemplateOutlet="!item.dropdown ? simpleItem : dropdownItem; context: {item}">
          </ng-container>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<ng-template #simpleItem let-link="item.link" let-text="item.text">
  <a
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{exact: true}"
    class="nav-link"
    [routerLink]="link">
      {{ text }}
  </a>
</ng-template>

<ng-template #dropdownItem let-menuItem="item">
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-text dropdown-toggle">
      {{ menuItem.text }} <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
      <li *ngFor="let dItem of menuItem.dropdown" role="menuitem">
        <a class="dropdown-item" [routerLink]="dItem.link">
          {{ dItem.text }}
        </a>
      </li>
    </ul>
  </div>
</ng-template>
